/* NavBar */
.navbar {
  padding: 25px 15px;
}
.default-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  width: 100% !important;
  transition: all 0.3s ease 0s;
}
.navbar-nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 20px;
  list-style: none;
}

/* Endnavbar */

/* Hero */
.home-banner-area {
  background: url("../images/home-banner-bg1.png") no-repeat;
  /* background: url("../images/9c896f637a195e8f7e29dbb8e1fb2106.svg") no-repeat; */
  
  background-size: cover;
  background-position: center center;
  max-height: 1200px;
}
.mtop{
  margin-top: -8em;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
}
.home-banner-left h1 {
  color: #222;
  font-size: 50px;
  line-height: 1em;
  margin-bottom: 20px;
}
/* ENdhero */

/* Feature */
.feature-area {
  margin-top: -150px;
  margin-left: 30px;
}
.feature-item {
  margin: 30px 0px;
  border-right: 1px solid rgba(130, 139, 178, 0.2);
  padding-right: 20px;
}
.feature-item i {
  font-size: 30px;
  color: #828bb2;
}
.ml-20 {
  margin-left: 20px;
}
/* endFeature */

/* OtherFeature */
.other-feature-area {
  padding-top: 100px;
}

.section-title {
  padding-bottom: 75px;
}

.section-title h2 {
  font-size: 42px;
  color: #222;
  margin-bottom: 20px;
}
.other-feature-area .section-title p,
.blog-post-area .section-title p {
  max-width: 300px;
}
.section-title p {
  margin-bottom: 0;
}
.other-feature-item {
  padding: 50px 40px;
  background: #f2f3f7;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.other-feature-item i {
  font-size: 36px;
  color: #222222;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.other-feature-item h4 {
  margin-top: 30px;
  font-size: 18px;
  margin-bottom: 20px;
}

.other-feature-item p {
  margin-bottom: 0px;
}
.mt--160 {
  margin-top: -160px;
}
.mt--260 {
  margin-top: -260px;
}
/* endOtherFeature */
/* Video Area */
.video-area {
  padding-top: 90px;
  height: 100vh;
  background: url("../images/video-area-bg2.png") no-repeat center;
}

/* nedVideoArea */

/* Footer */
.footer-area {
  padding: 430px 0px 120px;
  background: url("../images/footer-bg.png") no-repeat center;
}
.footer-area .single-footer-widget h4 {
  color: #fff;
  margin-bottom: 35px;
}
.footer-area .single-footer-widget ul li {
  margin-bottom: 15px;
}
.footer-area .single-footer-widget ul li a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #828bb2;
}
/* endFooter */





h1 {
	position: relative;
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 2px;
	margin-bottom: 20px;
	color: red;
	justify-content: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
span {
	display: inline-block; 
	position: relative; 
}
.bouncingAnim span.ml_25 {margin-left: 25px;}
.bouncingAnim span:nth-child(1) {animation: bounce 2.3s ease-in-out infinite; }
.bouncingAnim span:nth-child(2) {animation: bounce 2.3s ease-in-out .33s infinite; }
.bouncingAnim span:nth-child(3) {animation: bounce 2.3s ease-in-out 0.66s infinite; }
.bouncingAnim span:nth-child(4) {animation: bounce 2.3s ease-in-out 0.99s infinite; }
.bouncingAnim span:nth-child(5) {animation: bounce 2.3s ease-in-out 1.33s infinite; }
.bouncingAnim span:nth-child(6) {animation: bounce 2.3s ease-in-out 1.66s infinite; }
.bouncingAnim span:nth-child(7) {animation: bounce 2.3s ease-in-out 1.99s infinite; }
.bouncingAnim span:nth-child(8) {animation: bounce 2.3s ease-in-out 2.33s infinite; }
.bouncingAnim span:nth-child(9) {animation: bounce 2.3s ease-in-out 2.66s infinite; }
.bouncingAnim span:nth-child(10) {animation: bounce 2.3s ease-in-out 2.99s infinite; }

@-webkit-keyframes bounce{
  0%, 75%, 100%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  25%{
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
    opacity: .5;
  }
}
@keyframes bounce{
  0%, 75%, 100%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  25%{
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
    opacity: .5;
  }
}

.cl-span{
  color: yellow;
}



.mb-5{
  margin-bottom: 10rem!important;
}

img {
  width: 400px; /* Ajustez la taille de votre image selon vos besoins */
  animation: zoom-in-out 5s ease-in-out infinite; /* Durée de l'animation: 5 secondes */
}
.border-left-top {
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
}

@keyframes zoom-in-out {
  0% {
      transform: scale(1); /* Zoom initial */
  }
  50% {
      transform: scale(1.2); /* Zoom à 120% à mi-chemin de l'animation */
  }
  100% {
      transform: scale(1); /* Retour au zoom initial à la fin de l'animation */
  }
}
h4{
  font-size: 1.5rem;
    color: #1b0452;
    font-weight: 900;
}